name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint coverage
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Analizador estatico (Pylint)
      run: |
        # Esto permite que el CI continue aunque pylint no de un 10/10
        pylint --exit-zero *.py

    - name: Run tests with coverage
      run: |
        coverage run test.py
        coverage report
